<style>
body  {
  background-image: url("https://i.ibb.co/BtpBPVD/snowman.png");
  background-color: white;
  
  
}
</style>
</head>
<body>

<h1>Your entry</h1>


</body>
<p>
    <h3>Product: <%=@list.product%></h3>
    
</p>

<p>
    <h3>Store: <%=@list.store%></h3>
</p>


<%= link_to 'Back to Your Christmas List', lists_path %>
