<style>
body  {
  background-image: url("https://i.ibb.co/BtpBPVD/snowman.png");
  background-color: white;
  
  
}
</style>
</head>
<body>

<h1>Your entry</h1>


</body>
<p>
    <h3>Product:</h3>
    <h3><%=@list.product%></h3>
</p>

<p>
    <strong>Store:</strong>
    <%=@list.store %>
</p>
<%= link_to 'Your List', lists_path %>
