<h1 align="center">WELCOME TO THE CHRISTMAS LIST MANAGER!!</h1>
<br>
<br>
<br>

<br>
<img src="https://media1.tenor.com/images/bcefbedbce8f847012cbd22d2683b669/tenor.gif?itemid=10572194" alt="Paris" style="width:13%">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% if logged_in? %>
    <h1>You are logged in as, <%= current_user.username %>!</h1>
<%end%>




<a href="/login" class="button button1">RETURNING USER</a>
<br>
<a href="/users/new" class="button button2">SIGN UP</a>

<audio controls>
  <source src="christmasSong.ogg" type="audio/ogg">
  <source src="christmasSong.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>