<h1>WELCOME TO THE CHRISTMAS LIST MANAGER!!</h1>
<img src="https://i.ibb.co/SV4dVtn/storyboard-welcome.png">



<body>

<br>

<a href="#" class="button button1">SIGN UP</a>
<br>
<a href="/signins/new" class="button button2">RETURNING USER</a>




</body>

