// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {

  

  

  background-color: white;

  

}
table, td {
  
  border: 3px solid black;
 
  font-family: 'Rock Salt', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;

}
th {
  border: 3px solid black;
 
  font-family: 'Arial';
  padding: 20px;
   font-style: normal;
  caption-side: bottom;
  color: black;
  text-align: right;
  letter-spacing: 1px;

}
.options{
  width: 30%;
  
}
table {
    margin: 0 auto;
}
.delete{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 12px; background-color:#FF0000; text-align: center;width: 10%;font-size : 15px; min-width:40%;
margin-left: 30%;


margin-right: 20%
}
.search{
    font: bold 11px Arial;
  text-decoration: none;
  background-color: #20B2AA;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 12px; background-color:#20B2AA; text-align: center;width: 7%;font-size : 20px; min-width:30%;

}
.add{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 12px; background-color:#FF0000; text-align: center;width: 10%;font-size : 15px; min-width:40%;
margin-left: 30%;
}
.fontH1 {
  font-size:60px;
}

 footer#footer {
  text-align: center;
  font-size: 0.6em;
  text-transform: uppercase;
  padding: 10px;
  color: grey;
  letter-spacing: 2px;
  font-family: sans-serif;
  position: relative;
  top: 165px;
  left: -27px;
  width: 250px;
}

.search2{
    font: bold 11px Arial;
  text-decoration: none;
  background-color: #00CED1;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 12px; background-color:#00CED1; text-align: center;width: 7%;font-size : 20px; min-width:30%;

}


.search3{
    font: bold 11px Arial;
  text-decoration: none;
  background-color: #DB7093;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 12px; background-color:#DB7093; text-align: center;width: 7%;font-size : 20px; min-width:30%;

}


.show{
    background-image: url("https://i.ibb.co/BtpBPVD/snowman.png");
}
.circular-sb {
  width: 250px;
  border: 5px solid blue;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: arial;
  position: relative;
  color: black;
}
.circle1 {
  border: 5px solid blue;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: -15px;
  bottom: 23px;
}

.circle1:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background: #fff;
}
.circle2 {
  border: 5px solid blue;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  right: -60px;
  bottom: 5px;
}
